body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #6FBEEC;
}

.image {
  border-radius: 20px;
  width: 200px;
  margin-bottom: 20px;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
}

.image-gallery {
  display: flex;
  gap: 20px;
}


